@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.header {
    font-size: 40px;
    font-weight: 700;
}

.des {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}